/*=================== server ====================*/
.mypost {
    width: 95%;
    max-width: 600px;
    margin: 15px auto 20px auto;
    box-shadow: 0px 0px 3px 0px black;
    padding: 15px;
}

.mypost > button {
    margin: 15px auto 5px auto;
    display: flex;
}

.mycards {
    width: 95%;
    max-width: 600px;
    height: 90%;
    max-height: 300px;
    display: table;
    margin: 15px auto 0 auto;
}

/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
/*---------------------------------------------------- */
.list {
    list-style: none;
    margin: 0px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.row.m0 {
    margin: 0px;
}

body {
    line-height: 26px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo", sans-serif;
    font-weight: bold;
}

button:focus {
    outline: none;
    box-shadow: none;
}

/*---------------------호빈님 파트 시작-------------------------------*/
.comment_part {
    display: flex;
}

.mypost {
    width: 95%;
    max-width: 600px;
    margin: 15px auto 20px auto;
    box-shadow: 0px 0px 3px 0px black;
    padding: 15px;
}

.mypost > button {
    margin: 15px auto 5px auto;
    display: flex;
}

.mycards {
    width: 95%;
    max-width: 600px;
    height: 90%;
    max-height: 300px;
    display: table;
    margin: 15px auto 0 auto;
}

/*----------------------호빈님 파트 끝------------------------------*/
.p0 {
    padding-left: 0px;
    padding-right: 0px;
}

.p_120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.p_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad_top {
    padding-top: 120px;
}

.pad_bt {
    padding-bottom: 120px;
}

.mt-25 {
    margin-top: 25px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1620px) {
    .box_1620 {
        max-width: 1620px;
        margin: auto;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Main Title Area css
============================================================================================ */
.main_title {
    text-align: center;
    max-width: 670px;
    margin: 0px auto 111px;
}

.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 50px;
    color: #4c4e54;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px;
}

/* End Main Title Area css
============================================================================================ */
/* Feature Area css 팀원 아이콘 부분
============================================================================================ */
.feature_area {
  background: #f9f9ff; }
  .feature_area.feature_tow {
    background: #fff; }
    .feature_area.feature_tow .feature_item {
      background: #f9f9ff; }
      .feature_area.feature_tow .feature_item:hover {
        background: #fff; }
  .feature_area.white_feature {
    background: #fff; }
    .feature_area.white_feature .feature_item {
      background: #f9f9ff; }
      .feature_area.white_feature .feature_item:hover {
        background: #fff; }

.feature_item {
    padding: 50px 35px;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background: #fff;
    margin-bottom: 30px;
}

.feature_item h4 {
    color: #222222;
    font-size: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.feature_item:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    border-color: #fff;
    background: #fff;
}

/* Feature Area css 팀원 아이콘 끝
============================================================================================ */
/* 홈 배너 시작 Area css
============================================================================================ */
.home_banner_area {
    position: marker;
    background: -webkit-linear-gradient(270deg, #232323 50%, rgba(255, 255, 255, 0) 100%);
    padding-bottom: 100px;
}

.home_banner_area .box_1620 {
    min-height: 700px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: -webkit-linear-gradient(270deg, rgba(211, 26, 10, 0.72) 50%, rgba(255, 60, 0, 0.54) 100%);
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
}

.home_banner_area .banner_inner .banner_content {
    color: #222222;
    vertical-align: middle;
    align-self: center;
    text-align: left;
}

.home_banner_area .banner_inner .banner_content .media .d-flex {
    padding-right: 125px;
}

.home_banner_area .banner_inner .banner_content .media .media-body {
    vertical-align: middle;
    align-self: center;
}

.blog_banner {
    min-height: 780px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0px;
}

.blog_banner .banner_inner {
    background: #ff0000;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px;
    z-index: 1;
}

.blog_banner .banner_inner .overlay {
    background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
    opacity: .5;
    height: 125%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.blog_banner .banner_inner .blog_b_text {
    max-width: 700px;
    margin: auto;
    color: #413333;
}

.blog_banner .banner_inner .blog_b_text h2 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    line-height: 66px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.blog_banner .banner_inner .blog_b_text p {
    font-size: 16px;
    margin-bottom: 35px;
}

.blog_banner .banner_inner .blog_b_text .white_bg_btn {
    line-height: 42px;
    padding: 0px 45px;
    border-radius: 5px;
}

.banner_box {
    max-width: 1620px;
    margin: auto;
}

.banner_area {
    position: relative;
    z-index: 1;
    min-height: 350px;
    background-image: -moz-linear-gradient(0deg, #3a384b 0%, #fff 100%);
    background-image: -webkit-linear-gradient(0deg, #3a384b 0%, #fff 100%);
    background-image: -ms-linear-gradient(0deg, #3a384b 0%, #fff 100%);
    margin-bottom: 120px;
}

.banner_area .box_1620 {
    background: #fff;
    min-height: 360px;
    border-radius: 12px;
    position: relative;
    bottom: -120px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 360px;
    z-index: 1;
}

.banner_area .banner_inner .banner_content h2 {
    color: #222222;
    font-size: 48px;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px;
    font-weight: bold;
}

.banner_area .banner_inner .banner_content .page_link a {
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-right: 32px;
    position: relative;
}

.banner_area .banner_inner .banner_content .page_link a:before {
    content: "\e87a";
    font-family: 'Linearicons-Free';
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.banner_area .banner_inner .banner_content .page_link a:last-child {
    margin-right: auto;
}

.banner_area .banner_inner .banner_content .page_link a:last-child:before {
    display: none;
}

.banner_area .banner_inner .banner_content .page_link a:hover {
    color: #766dff;
}

/* 홈배너 끝 Area css
============================================================================================ */

.feature_item {
    padding: 50px 35px;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background: #fff;
    margin-bottom: 30px;
}

.feature_item h4 {
    color: #222222;
    font-size: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.feature_item:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    border-color: #fff;
    background: #fff;
}


/* Personal Profile Area css
============================================================================================ */
.profile_area .col-lg-7 {
    vertical-align: middle;
    align-self: center;
}

.profile_inner {
    border-bottom: 1px solid #eeeeee;
}

.profile_inner .personal_text {
    padding-left: 95px;
}

.personal_text h6 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #ffffff;
}

.personal_text h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}

.personal_text h3 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: dimgrey;
}

.personal_text p {
    font-family: "Roboto", sans-serif;
    max-width: 540px;
    color: darkgrey;
    margin-bottom: 40px;
}

.personal_text .basic_info li {
    margin-bottom: 15px;
}

.personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #777777;
}

.personal_text .basic_info li a i {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #766dff;
}

.personal_text .basic_info li:last-child {
    margin-bottom: 0px;
}

.personal_text .personal_social {
    margin-top: 45px;
}

.personal_text .personal_social li {
    display: inline-block;
    margin-right: 7px;
}

.personal_text .personal_social li:last-child {
    margin-right: 0px;
}

.personal_text .personal_social li a {
    line-height: 40px;
    width: 40px;
    background: #e8e8e8;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.personal_text .personal_social li:hover a {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

/* End Personal Profile Area css


/*# sourceMappingURL=style.css.map */
