<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/favicon.ico" type="image/ico">
    <title>UPPER PRICE | YE SEUL HAN</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- main css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <style>
        .home_banner_area {

            background: -webkit-linear-gradient(270deg, #232323 50%, rgba(255, 255, 255, 0) 100%);

        }

        .home_banner_area .box_1620 {

            background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.72) 50%, rgba(255, 255, 255, 0.54) 100%);

            box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
        }

        .img-ys {
            width: 400px;
            height: auto;

            background-size: cover;
            background-position: center;
        }

        .img_fit {
            max-width: 480px;
            width: 95%;
        }
    </style>
</head>
<body>

    <!--================ 헤더 파트 =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/">
                        <img src="../static/img/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/">HOME</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">MEMBERS</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/Eom">KWAN YONG EOM</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Lee">HO BIN LEE</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Choi">JOON HEON CHOI</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Han">YE SEUL HAN</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="https://online.spartacodingclub.kr/nbcamp/records">SPARTA</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!--================ 홈 배너 파트 =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <div class="img_fit">
                                <img class="img-ys"
                                     src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fwiits%2Fbtrz0DK6qbE%2FZCC78MKd61NkWMeCCti2Nk%2Fimg.jpg"
                                     alt="프로필"
                                     style="padding-bottom: 100px;padding-top:40px;">
                            </div>
                        </div>
                        <br/>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>About Myself</h6>
                                <h3 class="">Yeseul Han; 한예슬</h3>
                                <br>
                                <h4># 91년생 양띠 <span style="color: #ff8892;">MBTI</span> <span
                                        style="color: #766dff;">INFP</span></h4>
                                <br><br><br>
                                <p style="float: left;padding-right: 100px;">⭐25th July, 1991<br>⭐서울 송파구<br>⭐#인간_매거진 #INFP
                                    #취미_부자 <br></p><br>
                                <button type="button" class="btn btn-outline-primary"
                                        style="border-radius: 10px;color: #ff8892;border-color: #ff8892;"
                                        onclick="location.href='https://tashahan.tistory.com/'"
                                >My blog
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        style="border-radius: 10px;color: #766dff;border-color: #766dff;height:37px;"
                                        onclick="location.href='https://www.youtube.com/channel/UCgTX8PjDwgocq7arBBqZI4w'"
                                        style="border-radius: 10px; ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-youtube" viewBox="0 0 16 16">
                                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <div class="personal_text" style="float:left">
                                <h4># Who am I</h4>
                                <p>양띠에 INFP라니... 당신이 생각하는 순딩이 중에 순딩이 맞습니다 :)
                                    하지만 INFP가 소심하다는 편견은 No more...!<br/>
                                    INFP의 다른 이름이 <span style="color: #ff8892;">'열정적인 중재자'</span>라는 것 아셨나요? 이름에 딱 알맞게도 인상 좋고
                                    언제나 편안한 분위기를 주는 사람이라는 말을 자주 들었답니다^^</p>
                                <h4># What I am made of </h4>
                                <p>하드락,케이팝에서 클래식까지, 피아노치기 부터 아이패드로 그림그리기 까지 모르는게 없고 새 소식에 빠삭해서 친구들이 부르는 별명이 <span
                                        style="color: #766dff;">'인간 매거진'</span>이랍니다.
                                    겉으론 조용해 보이지만 속으론 하고 싶은 말이 무궁무진하니 다가와서 한번 말 걸어주면 여러가지 모르는게 없는 인간 매거진의 면모를 뿜뿜 느끼실 수 있을거예요~
                                </p>
                                <h4># How I get along</h4>
                                <p>먼저 리드하는 타입은 아니예요.
                                    하지만 '열정적인 중재자'라는 별명에 맞게 분위기를 이어가는 능력이 있습니다!
                                    뿐만 아니라 내가 하고 싶은일에는 적극적이고 추진력 있는 욕심쟁이라는 것!!
                                    단 하루만 같이 일해봐도 제 따끈따끈한 마음 느끼실 수 있을겁니다.
                                    적극적으로 목표를 향해 달려가는 팀원이 될 준비 만만이예요 :)</p>
                            </div>
                            <br/>
                            <div class="d-flex">
                                <div class="img_fit">
                                    <img class="img-ys"
                                         src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcxipiV%2Fbtrz1lXQ9uc%2FjYQEkmqToEZzsD6tOtA2uK%2Fimg.jpg"
                                         alt="피아노"
                                         style="padding-bottom: 50px;  padding-top: 50px;">
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <div class="img_fit">
                                    <img class="img-ys"
                                         src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcHg68F%2Fbtrz4Pi5Nql%2F7h5LRQj0AOSCIZcu2wOxD0%2Fimg.jpg"
                                         alt="꽃"
                                         style="padding-top:20px; width:95%;">
                                    <div style="padding:56.25% 0 0 0;position:relative;">
                                        <iframe src="https://player.vimeo.com/video/701668263?h=4b2f8316bb&autoplay=1"
                                                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                                frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                    <script src="https://player.vimeo.com/api/player.js"></script>
                                    <div style="padding-top:270px;text-align: center;color:white;">
                                        <h3 style="color:#221f4b;">"Stay hungry, stay foolish"</h3>
                                        <p style="color:#221f4b;padding-bottom: 500px;">When you go through hardships and
                                            decide not to surrender, that is strength. — Arnold Schwarzenegger</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>