<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/favicon.ico" type="image/ico">
    <title>UPPER PRICE | HOBIN LEE</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- main css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/squared-paper-texture-notebook-page-cage_159025-44.jpg');
        }

        .portpolios {
            padding-top: 60px;
            margin: 15px auto 5px auto;
            max-width: 500px;
            max-height: 480px;
            align-content: center;
        }

        .home_banner_area {
            position: relative;
            background-image: url("https://img.freepik.com/free-vector/squared-paper-texture-notebook-page-cage_159025-44.jpg");
        {#-webkit-linear-gradient(270deg, #0D0D0B 0%, #7a0e07 50%, #ffffff 100%);#} margin-bottom: 200px;
            padding-bottom: 250px
        }

        .home_banner_area .box_1620 {
            min-height: 800px;
            border-radius: 12px;
            position: relative;
            bottom: -200px;
            background: -webkit-linear-gradient(270deg, #0D0D0B 0%, #600704 40%, rgba(255, 172, 0, 0.16) 90%, rgba(255, 185, 41, 0) 100%);
            padding: 30px;
            box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
        }
    </style>
<body>
<!--================ 헤더 파트 =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/">
                        <img src="../static/img/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/">HOME</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">MEMBERS</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/Eom">KWAN YONG EOM</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Lee">HO BIN LEE</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Choi">JOON HEON CHOI</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/Han">YE SEUL HAN</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="https://online.spartacodingclub.kr/nbcamp/records">SPARTA</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!--================ 홈 배너 파트 =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img class="img-dog"
                                 src="https://velog.velcdn.com/images/dk3233/post/e5bf9d8a-b22f-46de-9da1-6fd97c2cad19/image.png"
                                 alt="">
                        </div>
                        <div class="media-body">
                            <div class="personal_text" style="text-align: center">
                                <h6>비주얼은 첫째지만 사실은 막내</h6>
                                <h3>상한가 이호빈</h3>
                                <h4>갓 코딩 시작한 코린이</h4>
                                <p style="font-size: 20px; color: white">INSTAGRAM @long_shutter</p>
                                <ul class="list basic_info">
                                    <li style="color: #7d7e81">1994년 11월 7일생</li>
                                    <li style="color: #7d7e81">+82 10 9964 6299</li>
                                    <li style="color: #7d7e81">dk3233@naver.com</li>
                                    <li style="color: #7d7e81">경기도 부천시 소사본동</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="media" style="padding-top: 50px">
                        <div class="media-body">
                            <div class="personal_text" style="text-align: center;">
                                <h3 style="font-size: 40px">특징들</h3>
                                <h4>#intp #프로혼행러 #운동혐오 #민초혐오</h4>
                                <h4>#탕수육쳐먹러 #유튜브편집자(였던것) #시공조아 #CG #영상전공</h4>
                                <h4>#전국테마파크헌터 #프로땀쟁이 #해외여행</h4>
                                <h4 style="color: black"> 장점 : 오래 앉아서 일하기, 잡일 두말없이 하기</h4>
                                <h4 style="color: black"> 단점 : 면허없음, 집중하면 다른것 안들림</h4>
                            </div>
                        </div>
                        <div><br/></div>
                        <div class="d-flex">
                            <img class="img-dog"
                                 src="https://velog.velcdn.com/images/dk3233/post/46272c2b-6b96-4796-865e-4672a4ff1e2f/image.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--================▼▼▼작업 영상물들▼▼▼=================-->
        <div class="personal_text" style="text-align:center; padding-top: 200px">
            <div class="portpolios">
                <h3 style="color: #3a3a3a"> 작업물 </h3>
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <div style="padding:56.25% 0 0 0;position:relative;">
                            <iframe src="https://player.vimeo.com/video/223237907?h=a305e0143b&title=0&byline=0&portrait=0"
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div style="padding:100% 0 0 0;position:relative;">
                            <iframe src="https://player.vimeo.com/video/426889803?h=fa820562fa&title=0&byline=0&portrait=0"
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div style="padding:56.25% 0 0 0;position:relative;">
                            <iframe src="https://player.vimeo.com/video/248670508?h=bc343c6be5&title=0&byline=0&portrait=0"
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
</html>